# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Visual studio generated folders
Debug/
ComponentFramework3.0/.vs/ComponentFramework/v15/.suo
ComponentFramework3.0/.vs/ComponentFramework/v15/Browse.VC.opendb
ComponentFramework3.0/.vs/ComponentFramework/v15/.suo
ComponentFramework3.0/.vs/ComponentFramework/v15/Browse.VC.db
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/23e0a22108bea69e/FILEMANAGER.ipch
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/6b52ad906708a42d/SCENE0.ipch
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/709bb2a82ede6ffd/FILEMANGERR.ipch
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/7da9da495d553f88/GAMEOBJECT.ipch
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/b694b992c12774dd/SCENE.ipch
ComponentFramework3.0/ComponentFramework/ComponentFramework.vcxproj
ComponentFramework3.0/ComponentFramework/ComponentFramework.vcxproj.filters
ComponentFramework3.0/.vs/ComponentFramework/v15/.suo
ComponentFramework3.0/.vs/ComponentFramework/v15/Browse.VC.db
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/6b52ad906708a42d/SCENE0.ipch
ComponentFramework3.0/.vs/ComponentFramework/v15/ipch/AutoPCH/7da9da495d553f88/GAMEOBJECT.ipch
ComponentFramework3.0/ComponentFramework/ComponentFramework.vcxproj
ComponentFramework3.0/ComponentFramework/ComponentFramework.vcxproj.filters
ComponentFramework3.0/.vs/ComponentFramework/v15/.suo
